<footer>
   <hr>
    <div class="col-lg-4 col-md-6 mb-lg-0 container text-center">
      <h6 class="text-uppercase font-weight-bold mb-4">Registered Office Address</h6>
      <p class="text-muted mb-4">Here , write the complete address of the Registered office address along with telephone number.</p>
      <ul class="list-inline mt-4">
          <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fab fa-2x fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fab fa-2x fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fab fa-2x fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fab fa-2x fa-youtube"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fab fa-2x fa-google"></i></a></li>
      </ul>
  </div>
  <hr class="p-0 m-0 b-0">
     <div class="bg-light py-2">
         <div class="container text-center">
             <p class="text-muted mb-0 py-2">© 2022 ExpertApps All risghts reserved.</p>
         </div>
     </div>
</footer>